.p-posts {
  &__item {
    border-bottom: rem(1) #DDD solid;

    &:not(:first-child) {
      margin-top: rem(20);
    }
  }

  &__date {
    color: #CECECE;
    font-size: rem(10);
    letter-spacing: calc(15em / 1000);
    font-family: $english-font-family;
    font-weight: 500;
  }

  &__title {
    font-size: rem(12);
    font-weight: bold;
    letter-spacing: calc(68em / 1000);
    line-height: calc(20 / 12);
    padding: rem(10) 0;
    display: block;
    transition: opacity .3s;

    &:hover {
      transition: opacity .3s;
      opacity: .5; 
    }
  }
}
